{% comment %}
  Image Slide - 9:16 aspect ratio
{% endcomment %}

{% if block.settings.link %}
  <a href="{{ block.settings.link }}" class="slide-link">
{% endif %}

<div class="slide slide-image">
  {% if block.settings.image %}
    <div class="slide-image-content">
      {{ block.settings.image | image_url: width: 1920 | image_tag: 
        loading: 'lazy',
        alt: block.settings.alt_text | default: 'Image slide',
        class: 'slide-img'
      }}
    </div>
  {% else %}
    <div class="slide-placeholder">
      <div class="placeholder-icon">📷</div>
      <div class="placeholder-text">No image selected</div>
      <div class="placeholder-subtext">Add an image to display here</div>
    </div>
  {% endif %}
</div>

{% if block.settings.link %}
  </a>
{% endif %}