<div class="highlight-section">
</div>

<style>
  .highlight-section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: {{ section.settings.background_color | default: '#0b00b5' }};
    margin-top: 48px;
    margin-bottom: 48px;
    height: {{ section.settings.height | default: 700 }}px;
  }
</style>

{% schema %}
{
  "name": "Highlight",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Kolor tła",
      "default": "#0b00b5"
    },
    {
      "type": "number",
      "id": "height",
      "label": "Wysokość (px)",
      "default": 700
    }
  ],
  "presets": [
    {
      "name": "Highlight"
    }
  ]
}
{% endschema %}
