<div class="kafelki-section"></div>

<style>
  .kafelki-section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: {{ section.settings.rows | default: 1 | times: 20 }}px;
    background-image: 
      repeating-linear-gradient(
        90deg,
        transparent 0,
        transparent 19px,
        #0b00b5 19px,
        #0b00b5 20px
      ),
      repeating-linear-gradient(
        0deg,
        transparent 0,
        transparent 19px,
        #0b00b5 19px,
        #0b00b5 20px
      );
    box-sizing: border-box;
    border-bottom: 1px solid #0b00b5;
  }
</style>

{% schema %}
{
  "name": "Kafelki",
  "settings": [
    {
      "type": "number",
      "id": "rows",
      "label": "Ilość rzędów",
      "default": 1
    }
  ],
  "presets": [
    {
      "name": "Kafelki"
    }
  ]
}
{% endschema %}

