<div class="kafelki-section"></div>

<style>
  .kafelki-section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: {{ section.settings.rows | default: 1 | times: 20 }}px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAnIGhlaWdodD0nMjAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHJlY3Qgd2lkdGg9JzIwJyBoZWlnaHQ9JzIwJyBmaWxsPSdub25lJyBzdHJva2U9JyMwYjAwYjUnIHN0cm9rZS13aWR0aD0nMScvPjwvc3ZnPg==");
    background-repeat: repeat;
  }
</style>

{% schema %}
{
  "name": "Kafelki",
  "settings": [
    {
      "type": "number",
      "id": "rows",
      "label": "Ilość rzędów",
      "default": 1
    }
  ],
  "presets": [
    {
      "name": "Kafelki"
    }
  ]
}
{% endschema %}

