<div class="kafelki-section">
  <div class="kafelek"></div>
</div>

<style>
  .kafelki-section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  .kafelek {
    width: 20px;
    height: 20px;
    border: 1px solid #0b00b5;
    background-color: transparent;
  }
</style>

{% schema %}
{
  "name": "Kafelki",
  "settings": [],
  "presets": [
    {
      "name": "Kafelki"
    }
  ]
}
{% endschema %}

