<div class="kafelki-section"></div>

<style>
  .kafelki-section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: white;
    padding: 48px 48px;
    margin-top: 48px;
    margin-bottom: 48px;
    background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 9px,
      #0b00b5 9px,
      #0b00b5 11px
    ), repeating-linear-gradient(
      90deg,
      transparent,
      transparent 9px,
      #0b00b5 9px,
      #0b00b5 11px
    );
    background-size: 10px 10px;
  }
</style>

{% schema %}
{
  "name": "Kafelki",
  "settings": [],
  "presets": [
    {
      "name": "Kafelki"
    }
  ]
}
{% endschema %}

