<div class="kafelki-section"></div>

<style>
  .kafelki-section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 100px;
    background-image: 
      repeating-linear-gradient(
        90deg,
        transparent 0,
        transparent 19px,
        #0b00b5 19px,
        #0b00b5 20px
      ),
      repeating-linear-gradient(
        0deg,
        transparent 0,
        transparent 19px,
        #0b00b5 19px,
        #0b00b5 20px
      );
  }
</style>

{% schema %}
{
  "name": "Kafelki",
  "settings": [],
  "presets": [
    {
      "name": "Kafelki"
    }
  ]
}
{% endschema %}

