<div class="kafelki-section"></div>

<style>
  .kafelki-section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: calc({{ section.settings.rows | default: 1 | times: 20 }}px + 1px);
    overflow: hidden;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAnIGhlaWdodD0nMjAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PGxpbmUgeDE9JzAnIHkxPScwJyB4Mj0nMjAnIHkyPScwJyBzdHJva2U9JyMwYjAwYjUnIHN0cm9rZS13aWR0aD0nMScvPjxsaW5lIHgxPScwJyB5MT0nMCcgeDI9JzAnIHkyPScyMCcgc3Ryb2tlPScjMGIwMGI1JyBzdHJva2Utd2lkdGg9JzEnLz48L3N2Zz4=");
    background-repeat: repeat;
  }
</style>

{% schema %}
{
  "name": "Kafelki",
  "settings": [
    {
      "type": "number",
      "id": "rows",
      "label": "Ilość rzędów",
      "default": 1
    }
  ],
  "presets": [
    {
      "name": "Kafelki"
    }
  ]
}
{% endschema %}

